#homeScreen {
    -fx-background-image: url("/img/HomeScreen/homeBackground.png");
    -fx-background-size: 100% 100%;
}

#rentBookButton {
    -fx-font-veight: bold;
    -fx-background-color: #E60000;
    -fx-background-radius: 22;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-border-width: 3;
}

#rentBookButton:pressed{
    -fx-translate-y: 4px;
}

#izvjestajButtonId {
    -fx-font-veight: bold;
    -fx-background-color: #E60000;
    -fx-background-radius: 22;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-border-width: 3;
}

#izvjestajButtonId:pressed{
    -fx-translate-y: 4px;
}

#changeProfileButton {
    -fx-font-veight: bold;
    -fx-background-color: #E60000;
    -fx-background-radius: 22;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-border-width: 3;
}

#changeProfileButton:pressed{
    -fx-translate-y: 4px;
}

#viewRentsButton {
    -fx-font-veight: bold;
    -fx-background-color: #E60000;
    -fx-background-radius: 22;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-border-width: 3;
}

#viewRentsButton:pressed{
    -fx-translate-y: 4px;
}