#signUpScreen {
    -fx-background-image: url("/img/SignUpScreen/SignUpBackground.jpg");
    -fx-background-size: 100% 100%;
}



#titleId {
    -fx-text-fill: #E60000;
}

#signUpButtonId {
    -fx-background-color:
            linear-gradient(#D60000, #F60000),
            radial-gradient(center 50% -40%, radius 200%, #D60000 45%, #F60000 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial Black";
    -fx-font-veight: bold ;
}

#signUpButtonId:pressed {
    -fx-translate-y: 4px;
}

#cancelButtonId {
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: #E60000;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-font-family: "Arial Black";
    -fx-font-veight: bold ;
}

#cancelButtonId:pressed{
    -fx-translate-y: 4px;
}

